@import url(https://fonts.googleapis.com/css?family=Comfortaa|Open+Sans&display=swap)

$famicom-red: #800
$famicom-cream: #fed
$famicom-light-cream: #fff8e7
$famicom-dark-cream: #dcb
$famicom-bright: #ffe

html
  position: relative
  font-family: 'Open Sans', 'Helvetica', sans-serif

body
  margin: 0
  background-color: $famicom-cream
  position: relative

body > *
  margin-left: auto
  margin-right: auto

p
  width: 36rem
  line-height: 1.33em

q
  quotes: "\201C" "\201D"

h1, h2, h3, h4, h5, h6, b
  color: $famicom-red

h1
  font-family: 'Comfortaa', cursive
  text-align: center
  background-color: $famicom-bright

h1 
  font-size: 3rem
  padding-top: 1rem
  padding-bottom: 1rem
  margin: 0

.linkBar
  margin: 0
  background-color: $famicom-bright
  color: $famicom-red
  text-align: center
  font-weight: bold
  padding: 0.5em
  text-transform: uppercase

.linkBar a:link, .linkBar a:hover, .linkBar a:visited
  color: $famicom-red

.linkBar a:link
  text-decoration: none

.linkBar a:hover, .linkBar a:active
  text-decoration: underline

.linkBar a:active
  background-color: $famicom-cream

h2 
  font-size: 1.5rem
  margin-left: auto
  margin-right: auto
  text-align: left
  /* width: 40em; */
  width: 38rem
  text-transform: uppercase

.keyname//, .keyword
  display: inline-block
  background-color: $famicom-light-cream
  padding-left: 0.1em
  padding-right: 0.1em
  border: solid 1px $famicom-dark-cream

.keyname
  border-radius: 0.3em
  font-size: 0.9em

code
  //font-family: Courier New, Courier, monospace
  //font-family: monospace
  font-size: 0.8em

.sc
  // font-variant: small-caps - looks like crap in chosen font.
  // font-size: 0.9em - not loving this either. Just keeping the class around.

@media print
    .linkBar
        display: none
