@import url(https://fonts.googleapis.com/css?family=Comfortaa|Open+Sans&display=swap)

$famicom-red: #800
$famicom-cream: #fed
$famicom-bright: #ffe

html
  position: relative
  font-family: 'Open Sans', 'Helvetica', sans-serif

body
  margin: 0
  background-color: $famicom-cream
  position: relative

body > *
  margin-left: auto
  margin-right: auto

p
  width: 36rem
  line-height: 1.33em

q
  quotes: "\201C" "\201D"

h1, h2, h3, h4, h5, h6, b
  color: $famicom-red

h1
  font-family: 'Comfortaa', cursive
  text-align: center
  background-color: $famicom-bright

h1 
  font-size: 3rem
  padding-top: 1rem
  padding-bottom: 1rem
  margin: 0

h2 
  font-size: 1.5rem
  margin-left: auto
  margin-right: auto
  text-align: left
  /* width: 40em; */
  width: 38rem
  text-transform: uppercase

