extends /templates/famibe-tmpl.pug

block title
  | Micah Cowan's Family Basic&nbsp;Site

block content
  h2 The Mission

  p.
    The goal of this site is to provide a home for information and
    resources regarding Nintendo's
    #[a(href='https://en.wikipedia.org/wiki/Family_BASIC' target='_tab') Family Basic],
    as completely as possible, and accessible to English speakers who
    have little to no understanding of the Japanese language, but also
    with reference to any Japanese original sources.

  p.
    In particular, it is hoped that this site will have as comprehensive
    a collection of BASIC programs written for Family Basic as possible,
    in both textual program listings, and in recorded audio format (WAV
    files). The focus is on supporting the more powerful Family Basic
    v3, with little to no effort spent on providing program listings or
    recordings for Family Basic v2.x (which, unlike v3, actually shipped
    with Family Basic units).

  p.
    Currently, this site hosts a mirror of archive.org's (incomplete)
    collection of MyCom BASIC Magazine issues, separate Family
    Basic-related program listings and articles found from those
    magazine issues, and conversions of those listings into text files
    and WAV files for use in exploring Family Basic on the original
    hardware or in emulators.

  h2 Resources

  p.
    #[a(href='welcome-to-famibe.html') Welcome to Family Basic!]
