mixin keyname
  span.keyname
    block

mixin keyword
  code.keyword
    block

mixin basic
  span.sc
    | BASIC

doctype html
//
  This file was generated from #{process.env.sourceFile}
    Git repo: https://github.com/micahcowan/famibe-website/
    PugJS:    https://pugjs.org/
html
  head
    title
      block title
    link(rel="stylesheet" href="style/famibe.css")
    link(rel="icon" href="images/penpen.png")
  body
    h1
      block title
    .linkBar.
      [ #[a(href='.') Home] ]
    block content
